<div class="container">
  <div class="imagen">
    <img src="../../../../assets/img/rana.png" width="100px" height="100px" />
  </div>
  <div class="texto">
    <div class="frase1">Aviso</div>
    <div class="frase2">No ha seleccionado la mascota.</div>
    <div class="frase3">No puede continuar hasta que una mascota sea seleccionada.</div>
  </div>
  <div class="botones">
    <div id="cerrar" (click)="cerrarVentana()">Volver</div>
    <div id="continuar" (click)="elegirMascota()">Elegir Mascota</div>
  </div>
</div>
