<div class="container{{tema}}" (document:mousemove)='tooltip($event)'>
  <app-selecciones class="top"></app-selecciones>
  <div class="bottom">
    <app-menu class="menu"></app-menu>
    <div class="seccion{{tema}} columna">
      <div class="titulo">
        <div class="volver" [routerLink]="['/veterinarios']"></div>
        <span *ngIf="new"> Nuevo veterinario </span>
        <span *ngIf="!new"> Editando veterinario </span>
      </div>
      <div class="formulario">
        <fieldset>
          <legend>Datos obligatorios</legend>
          <div class="texto{{errores.nombre ? '_error' : ''}}">
            <label for="nombre">Nombre</label><input type="text" id="nombre" [(ngModel)]="veterinarioEditado.nombre" (ngModelChange)="cambia('nombre')" />
            <span class="tooltip" *ngIf="errores.nombre=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
          <div class="texto{{errores.apellidos ? '_error' : ''}}">
            <label for="apellidos">Apellidos</label><input type="text" id="apellidos" [(ngModel)]="veterinarioEditado.apellidos" (ngModelChange)="cambia('apellidos')" />
            <span class="tooltip" *ngIf="errores.apellidos=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
          <div class="texto{{errores.dni ? '_error' : ''}}">
            <label for="dni">DNI</label><input type="text" id="dni" [(ngModel)]="veterinarioEditado.dni" (ngModelChange)="cambia('dni')" />
            <span class="tooltip" *ngIf="errores.dni=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
          <div class="texto{{errores.numColegiado ? '_error' : ''}}">
            <label for="numColegiado">Numero Colegiado</label><input type="text" id="numColegiado" [(ngModel)]="veterinarioEditado.numColegiado" (ngModelChange)="cambia('numColegiado')" />
            <span class="tooltip" *ngIf="errores.numColegiado=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Datos opcionales</legend>
            <div class="texto{{errores.fecNac ? '_error' : ''}}" *ngIf="veterinarioEditado.fecNac">
              <label for="fecNac">Fecha de Nacimiento</label><input id="fecNac" type="date" [ngModel]="veterinarioEditado.fecNac | date:'yyyy-MM-dd'"  (ngModelChange)="veterinarioEditado.fecNac=$event; cambia('fecNac')" />
              <span class="tooltip" *ngIf="errores.fecNac=='fechaFuturo'">La fecha de nacimiento no puede estar en el futuro</span>
            </div>
            <div class="texto{{errores.fecNac ? '_error' : ''}}" *ngIf="!veterinarioEditado.fecNac">
              <label for="fecNac">Fecha de Nacimiento</label><input id="fecNac" type="date" [ngModel]="veterinarioEditado.fecNac"  (ngModelChange)="veterinarioEditado.fecNac=$event; cambia('fecNac')" />
            </div>
          <div class="texto">
            <label for="telefono">Telefono</label><input id="telefono" type="text" [(ngModel)]="veterinarioEditado.telefono" />
          </div>
        </fieldset>
      </div>
      <div class="guardar">
        <button (click)="guardar()" > Guardar </button>
      </div>
    </div>
  </div>
</div>
