<div class="container{{tema}}">
  <app-selecciones class="top"></app-selecciones>
  <div class="bottom">
    <app-menu class="menu"></app-menu>
    <div class="seccion{{tema}}">
      <ng-container>
        <div class="datos">
          <div class="titulo">
            Lista de mascotas
          </div>
          <div class="lista">
            <table mdbTable striped="true" class="table table-striped table-dark table-hover">
              <thead class=thead-dark>
                <tr>
                  <th *ngFor="let head of headElements" class="{{head.clase}}" scope="col">{{head.nombre}} </th>
                </tr>
              </thead>
              <tbody class=tbody-dark>
                <ng-container *ngFor="let el of elements">
                  <tr mdbTableCol *ngIf="el._id == mascotaSeleccionada._id">
                    <td class="cabeceraNombre seleccionado">{{ el.nombre }}</td>
                    <td class="cabeceraFecha seleccionado">{{ el.fecNac | date:"dd/MM/yyyy" }}</td>
                    <td class="cabeceraChip seleccionado">{{ el.chip }}</td>
                    <td class="cabeceraVisualizar seleccionado"><img src="../../../../assets/img/visualizar-oscuro.png" width="25px" height="13px"></td>
                    <td class="cabeceraEditar seleccionado"><img src="../../../../assets/img/editar-oscuro.png" width="25px" height="25px" (click)="editar(el)"></td>
                    <td class="cabeceraSeleccionar seleccionado" (click)="limpiarMascota()"><img src="../../../../assets/img/limpiar-oscuro.png" width="25px" height="25px"></td>
                  </tr>
                  <tr mdbTableCol *ngIf="el._id != mascotaSeleccionada._id">
                    <td class="cabeceraNombre">{{ el.nombre }}</td>
                    <td class="cabeceraFecha">{{ el.fecNac | date:"dd/MM/yyyy" }}</td>
                    <td class="cabeceraChip">{{ el.chip }}</td>
                    <td class="cabeceraVisualizar"><img src="../../../../assets/img/visualizar-oscuro.png" width="25px" height="13px"></td>
                    <td class="cabeceraEditar"><img src="../../../../assets/img/editar-oscuro.png" width="25px" height="25px" (click)="editar(el)"></td>
                    <td class="cabeceraSeleccionar" (click)="onSelect(el)"><img src="../../../../assets/img/seleccionar-oscuro.png" width="20px" height="20px"></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="nuevo" [routerLink]="['/formMascotas']" routerLinkActive="router-link-active">
            Nueva mascota
          </div>
        </div>
        <div class="filtros">
          <div class="busqueda">
            <div class="titulo_filtro">
              Buscar mascotas
            </div>
            <div class="cuerpo_filtro">
              <label for="nombre" class="labelNombre">Nombre</label>
              <input id="nombre" type="search" list="nombres" [(ngModel)]="filtroMascota.nombre"
                (ngModelChange)="buscarPorNombre()" />
              <datalist id="nombres" *ngIf="filtroMascota.nombre.length>=1"></datalist>
              <label for="chip">Chip</label>
              <input id="chip" type="search" list="chips" [(ngModel)]="filtroMascota.chip"
                (ngModelChange)="buscarPorChip()" />
              <datalist id="chips" *ngIf="filtroMascota.chip.length>=1"></datalist>
              <label for="raza">Raza</label>
              <input id="raza" type="search" list="razas" [(ngModel)]="filtroMascota.raza"
                (ngModelChange)="buscarPorRaza()" />
              <datalist id="razas" *ngIf="filtroMascota.raza.length>=1"></datalist>
              <label for="pelo">Pelo</label>
              <input id="pelo" type="search" list="pelos" [(ngModel)]="filtroMascota.pelo"
                (ngModelChange)="buscarPorPelo()" />
              <datalist id="pelos" *ngIf="filtroMascota.pelo.length>=1"></datalist>
              <label for="especie">Especie</label>
              <input id="especie" type="search" list="especies" [(ngModel)]="filtroMascota.especie"
                (ngModelChange)="buscarPorEspecie()" />
              <datalist id="especies" *ngIf="filtroMascota.especie.length>=1"></datalist>
              <label for="sexo">Sexo</label>
              <input id="sexo" type="search" list="sexos" [(ngModel)]="filtroMascota.sexo"
                (ngModelChange)="buscarPorSexo()" />
              <datalist id="sexos" *ngIf="filtroMascota.sexo.length>=1"></datalist>
            </div>
          </div>
          <div class="busqueda_avanzada">
            <div class="titulo_filtro">
              Búsqueda avanzada
            </div>
            <div class="cuerpo_filtro">
              <button class="seleccionado_{{filtroMascota.porCliente}}" (click)="filtroCliente()"
                *ngIf="clienteSeleccionado._id!='0'">Por cliente seleccionado</button>
              <button class="deshabilitado" *ngIf="clienteSeleccionado._id=='0'">Por cliente seleccionado</button>
              <button class="seleccionado_{{filtroMascota.atendidas}}" (click)="filtroAtendidas()">Atendidas
                hoy</button>
            </div>
          </div>
          <div class="borrar_filtros">
            <button (click)="borrarFiltros()">Borrar todos los filtros</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>