//Colores usados en la aplicación
$color1:#195E52;
$color2:#22B24C;
$color3:#7CC543;
$color4:#2CBC92;
$color5:#ABFCC2;
$color6:#103a34;
$color7:#cbe9e4;
$textoOscuro: #0e0e0e;
$textoClaro: #FAFAFA;
$textoDeshabilitado: #dadada;

//Variables que definen la interfaz básica
$altoTop: 160;
$altoSeccion: 560;
$anchoSeccion: 1104;
$anchoLogo: 363;
$anchoAjustes: 186;

//Variables para la sección del menú
$anchoMenu: 158;
$altoItemMenu: 108;

//Variables para la sección de selectores
$anchoSelectores: 731;
$altoSelectores: 160;

//Variables para los selectores
$anchoExterior: 171;
$altoExterior: 153;
$altoInterior: 128;
$altoTexto: 25;
$anchoSeccion1: 120;
$colorFondoOscuro: #575757;
$colorFondoClaro: #d1d1d1;
$colorFondoOscuroTransparente: #00000033;
$colorFondoClaroTransparente: #ffffff33;
$altoImagenSelector: 120;
$anchoImagenSelector: 120;

//Variables para lista de clientes
$altoTitulo: 42;
$altoLista: 474;
$altoNuevo: 42;
$anchoDatos: 862;
$anchoFiltros: 240;

//Variables para la pantalla de bienvenida
$fondoDegradado: #08251de1;
$textoInicio: #ffffff8f;

//Variables para la sección de ajustes
$altoTitulo: 62;
$altoFieldSet: 109;
$altoCerrarSesion: 40;
$tituloOscuro: #00000085;
$tituloOscuroHover: #00000070;
$border: #000000;
$fondoBoton: #e0e0e0;
$fondoBotonSeleccionado: #4690ffbe;
$fondoBotonHover: #383838be;
$textoOscuroAjustes: #383838;
$fondoBotonDeshabilitado: #535353;