//Colores usados en la aplicación
$color1:#195E52;
$color2:#22B24C;
$color3:#7CC543;
$color4:#2CBC92;
$color5:#ABFCC2;

//Variables que definen la interfaz básica
$altoTop: 160px;
$altoSeccion: 560px;
$anchoSeccion: 1104px;
$anchoLogo: 363px;
$anchoAjustes: 186px;

//Variables para la sección del menú
$anchoMenu: 158px;
$altoItemMenu: 108px;

//Variables para la sección de selectores
$anchoSelectores: 731px;
$altoSelectores: 160px;

//Variables para los selectores
$anchoExterior: 171px;
$altoExterior: 153px;
$altoInterior: 128px;
$altoTexto: 25px;
$anchoSeccion1: 120px;
$textoClaro: #FAFAFA;
$colorFondoOscuro: #575757;
$colorFondoOscuroTransparente: #00000033;
$altoImagenSelector: 120px;
$anchoImagenSelector: 120px;
