@import "../../../../utilities/variables.scss";

.container {
  background: #d0eae6;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  box-sizing: border-box;
  overflow: hidden;

  .cerrar {
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.78);
    height: 28px;
    width: 28px;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.637);
    }

    img {
      margin: 0 auto;
      margin-top: 7px;
      display: block;
      height: 15px;
      width: 15px;
    }
  }
  .titulo {
    display: flex;
    height: 40px;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }
  .datos {

    hr{
        height: 2px;
        width: 40%;
        color: black;
        background: black;
    }
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    .frase2 {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
