<!DOCTYPE html>
<html>

<head>
    <base href="./">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../styles/css/importCSS.js"></script>
</head>

<body>
    <div class="flipster">
        <ul>

        </ul>
    </div>

    <p class="stats"></p>
    

    <footer>
        <script>window.$ = window.jQuery = require('../../styles/js/jquery.js')</script>
        <script src="../../styles/js/importJS.js"></script>
        <script>require('./index.js')</script>
    </footer>
</body>



</html>