<div class="container">
  <div class="imagen">
    <img src="../../../../assets/img/rana.png" width="100px" height="100px" />
  </div>
  <div class="texto">
    <div class="frase1">Aviso</div>
    <div class="frase2">No ha seleccionado el cliente.</div>
    <div class="frase3">Si continua, la mascota no será asignada a un cliente.</div>
  </div>
  <div class="botones">
    <div id="cerrar" (click)="cerrarVentana()">Volver</div>
    <div id="elegir" (click)="elegirCliente()">Elegir cliente</div>
    <div id="continuar" (click)="continuarSinCliente()">Continuar</div>
  </div>
</div>