<div class="container{{tema}}">
  <app-selecciones class="top"></app-selecciones>
  <div class="bottom">
    <app-menu class="menu"></app-menu>
    <div class="seccion{{tema}} columna">
      <div class="seccion_interna">
        <div class="recuadro" [routerLink]="['/']">
            <p class="title">Veterinarios</p>
            <p class="texto">Añade, edita, elimina, selecciona o visualiza a los veterinarios que hay en la clínica trabajando</p>
        </div>
        <div class="recuadro" [routerLink]="['/']">
            <p class="title">Clínica</p>
            <p class="texto">Edita los datos relacionados con la clínica veterinaria</p>
        </div>
      </div>
      <div class="seccion_interna">
        <div class="recuadro" [routerLink]="['/']">
              <p class="title">Usuarios</p>
              <p class="texto">Añade, edita o elimina los usuarios con los que podrás acceder a la aplicación</p>
          </div>
        <div class="recuadro" [routerLink]="['/']">
            <p class="title">Gestión</p>
            <p class="texto">Gestiona los tipos de trataminetos, pruebas, tarifas y productos del almacén</p>
        </div>
      </div>
    </div>
  </div>
</div>
