@import "../../../../utilities/variables.scss";

.seccion_oscuro {
  display: flex;
  background-color: rgba(#8a8a8a, $alpha: 0.3);
  flex-basis: $anchoSeccion + px;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top: 2px solid $colorFondoOscuro;
  border-left: 2px solid $colorFondoOscuro;
  box-sizing: border-box;
  border-top-left-radius: 5px;

  .titulo {
    background-color: $tituloOscuro;
    width: 100%;
    display: flex;
    height: $altoTituloClinica + px;
    justify-content: center;
    align-items: center;

    .volver {
      background-image: url("../../../../../assets/img/back_oscuro.png");
      width: 30px;
      height: 30px;
      position: fixed;
      left: 200px;
      cursor: pointer;

      &:hover {
        background-image: url("../../../../../assets/img/back_medio.png");
      }
    }

    span {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .container_formulario {
    flex-grow: 1;
    display: flex;
    width: 100%;

    .formulario {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      margin: 30px;
      border: 1px solid white;
      background-color: $colorFondoFieldset;
      padding: 30px;

      .form_izq {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
      }

      .form_dcha {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        .guardar {
          display: flex;
          width: 100%;
          align-items: flex-start;
          justify-content: flex-end;
          flex-grow: 1;

          button{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            transition: all 0.5s;
            width: 150px;
            margin-left: 10px;
            height: 35px;
            background: $colorFondoGuardarClinica;
            img{
              margin-left: 10px;
            }
          }
        }
      }

      .texto {
        display: flex;
        justify-content: center;
        flex-direction: column;

        span {
          display: none;
        }
        &:hover span {
          display: block;
          position: fixed;
          overflow: hidden;
          border: 1px solid #b1b1b1ea;
          background-color: #ff6767c0;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
        }

        label {
          flex-grow: 1;
          margin-top: 10px;
          width: 470px;
        }
        input {
          width: 470px;
          margin: 0px;
          border: none;
          text-align: center;
          background-color: #00000000;
          border: 1px solid transparent;
          border-bottom: 1px solid #cccccc;
          transition: all ease-out 0.3s;
          box-sizing: border-box;
          color: $textoClaro;
          height: 22px;

          &:focus {
            background-color: $colorInput;
            border: 1px solid #cccccc;
            font-size: 16px;
          }
        }
        .cif {
          margin-top: 0px !important;
        }
      }

      .texto_error {
        display: flex;
        justify-content: center;
        flex-direction: column;

        span {
          display: none;
        }
        &:hover span {
          display: block;
          position: fixed;
          overflow: hidden;
          border: 1px solid #b1b1b1ea;
          background-color: #ff6767c0;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
        }

        label {
          flex-grow: 1;
          margin-top: 10px;
          width: 470px;
        }
        input {
          width: 470px;
          margin: 0px;
          border: none;
          text-align: center;
          background-color: #00000000;
          border: 1px solid transparent;
          border-bottom: 1px solid #ca0000;
          transition: all ease-out 0.3s;
          box-sizing: border-box;
          color: $textoClaro;
          height: 22px;

          &:focus {
            font-size: 16px;
            background-color: $colorInputError;
            border: 1px solid #ca0000;
          }
        }
        .cif {
          margin-top: 0px !important;
        }
      }
    }
  }
}
