<div class="container">
    <div class="seccion">

      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <img src="../../../assets/logo.png" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="email">
            <input type="password" id="password" class="fadeIn second" name="login" placeholder="password" [(ngModel)]="password">
            <input type="submit" class="fadeIn fourth" value="Entrar" (click)="sendLogin()">
          </form>
          <ng-container *ngIf="showError">
            <p> Usuario o contraseña incorrectos </p>
          </ng-container>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" (click)="showSupport = true">¿Olvidaste la contraseña?</a>
          </div>
          <ng-container *ngIf="showSupport">
            <p> Contacta con el servicio técnico </p>
          </ng-container>
        </div>
      </div>

    </div>
</div>
