<div class="container{{tema}}">
  <app-selecciones class="top"></app-selecciones>
  <div class="bottom">
    <app-menu class="menu"></app-menu>
    <div class="seccion{{tema}}">
      <ng-container>
        <div class="datos">
          <div class="titulo">
            Historial de tratamientos
          </div>
          <div class="lista">
            <table mdbTable striped="true" class="table table-striped table-dark table-hover">
              <thead class=thead-dark>
                <tr>
                  <th *ngFor="let head of headElements" class="{{head.clase}}" scope="col">{{head.nombre}} </th>
                </tr>
              </thead>
              <tbody class=tbody-dark>
                <tr mdbTableCol *ngFor="let el of elements">
                  <td class="colNombre seleccionado">{{ el.fecha }}</td>
                  <td class="colApellidos seleccionado">{{ el.tipoTratamiento }}</td>
                  <td class="colDNI seleccionado">{{ el.diagnostico }}</td>
                  <td class="colEditar seleccionado" (click)="editar(el)"><img src="../../../../assets/img/editar-oscuro.png" width="25px" height="25px"></td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="nuevo" [routerLink]="['/formTratamiento']">
            Nuevo tratamiento
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
