<div class="container{{tema}}">
  <app-selecciones class="top"></app-selecciones>
  <div class="bottom">
    <app-menu class="menu"></app-menu>
    <div class="seccion{{tema}} columna">
      <div class="titulo">
        <span *ngIf="new"> Nueva vacuna </span>
        <span *ngIf="!new"> Editando vacuna </span>
      </div>
      <div class="formulario" *ngIf="ready">
        <fieldset>
          <legend>Datos obligatorios</legend>
          <div class="texto{{errores.tipoVacuna ? '_error' : ''}}">
            <span>Tipo Vacuna</span><input type="text" [(ngModel)]="vacunaEditada.tipoVacuna" (ngModelChange)="cambia('tipoVacuna')" />
            <span class="tooltip" *ngIf="errores.tipoVacuna=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
          <div class="texto{{errores.fecha ? '_error' : ''}}">
            <label for="fecha">Fecha</label><input id="fechaVacuna" type="date" [ngModel]="vacunaEditada.fecha | date:'yyyy-MM-dd'"  (ngModelChange)="vacunaEditada.fecha=$event; cambia('fecha')" />
            <span class="tooltip" *ngIf="errores.fecha=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
        </fieldset>
      </div>
      <div class="guardar">
        <button [routerLink]="['/operaciones']"> Volver </button>
        <button (click)="guardar()"> Guardar </button>
      </div>
    </div>
  </div>
</div>
