<div class="container{{tema}}">
  <app-selecciones class="top"></app-selecciones>
  <div class="bottom">
    <app-menu class="menu"></app-menu>
    <div class="seccion{{tema}}">
      <ng-container>
        <div class="datos">
          <div class="titulo">
            Lista de veterinarios
          </div>
          <div class="lista">
            <table mdbTable striped="true" class="table table-striped table-dark table-hover">
              <thead class=thead-dark>
                <tr>
                  <th *ngFor="let head of headElements" class="{{head.clase}}" scope="col">{{head.nombre}} </th>
                </tr>
              </thead>
              <tbody class=tbody-dark>
                <ng-container *ngFor="let el of elements">
                  <tr mdbTableCol *ngIf="el._id == veterinarioSeleccionado._id">
                    <td class="cabeceraNombre seleccionado" (click)="onSelect(el)">{{ el.nombre }}</td>
                    <td class="cabeceraApellidos seleccionado">{{ el.apellidos }}</td>
                    <td class="cabeceraDNI seleccionado">{{ el.dni }}</td>
                    <td class="cabeceraVisualizar seleccionado"><img src="../../../../assets/img/visualizar-oscuro.png" width="25px" height="13px"></td>
                    <td class="cabeceraEditar seleccionado"><img src="../../../../assets/img/editar-oscuro.png" width="25px" height="25px" (click)="editar(el)"></td>
                    <td class="cabeceraSeleccionar seleccionado" (click)="limpiarVeterinario()"><img src="../../../../assets/img/limpiar-oscuro.png" width="25px" height="25px"></td>
                  </tr>
                  <tr mdbTableCol *ngIf="el._id != veterinarioSeleccionado._id">
                    <td class="cabeceraNombre" (click)="onSelect(el)">{{ el.nombre }}</td>
                    <td class="cabeceraApellidos">{{ el.apellidos }}</td>
                    <td class="cabeceraDNI">{{ el.dni }}</td>
                    <td class="cabeceraVisualizar"><img src="../../../../assets/img/visualizar-oscuro.png" width="25px" height="13px"></td>
                    <td class="cabeceraEditar" (click)="editar(el)"><img src="../../../../assets/img/editar-oscuro.png" width="25px" height="25px"></td>
                    <td class="cabeceraSeleccionar" (click)="onSelect(el)"><img src="../../../../assets/img/seleccionar-oscuro.png" width="20px" height="20px"></td>
                  </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
          <div class="nuevo" [routerLink]="['/formVeterinario']" routerLinkActive="router-link-active">
            Nuevo veterinario
          </div>
        </div>
        <div class="filtros">
          <div class="busqueda">
            <div class="titulo_filtro">
              Buscar veterinarios
            </div>
            <div class="cuerpo_filtro">
              <label class="labelNombre" for="nombre">Nombre</label>
              <input id="nombre" type="search" list="dataListNombre" [(ngModel)]="filtroVeterinario.nombre"
                (ngModelChange)="buscarPorNombre()" />
              <datalist id="dataListNombre" *ngIf="filtroVeterinario.nombre.length>=1"></datalist>
              <label for="apellidos">Apellidos</label>
              <input id="apellidos" type="search" list="dataListApellidos" [(ngModel)]="filtroVeterinario.apellidos"
                (ngModelChange)="buscarPorApellidos()" />
              <datalist id="dataListApellidos" *ngIf="filtroVeterinario.apellidos.length>=1"></datalist>
              <label for="dni">DNI</label>
              <input id="dni" type="search" list="dataListDni" [(ngModel)]="filtroVeterinario.dni"
                (ngModelChange)="buscarPorDni()" />
              <datalist id="dataListDni" *ngIf="filtroVeterinario.dni.length>=1"></datalist>
            </div>
          </div>
          <div class="borrar_filtros">
            <button (click)="borrarFiltros()">Borrar todos los filtros</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
