@import "app/utilities/variables.scss";

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: default;
}

.top {
  width: 100%;
}
.container_claro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $textoOscuro;
  
    background-color: rgba($color7, $alpha: 1.0);
    -webkit-background-size: cover;
    background-size: cover;

    .bottom{
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-basis: $altoSeccion+px;
      width: 100%;

      .menu{
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
}

.container_oscuro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $textoClaro;

  background-color: rgba($color6, $alpha: 1.0);
  -webkit-background-size: cover;
  background-size: cover;

  .bottom{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: $altoSeccion+px;
    width: 100%;

    .menu{
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

.columna {
  flex-direction: column;
}