@import "app/utilities/variables.scss";

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: default;
}
::-webkit-scrollbar {
  width: 2px;     /* Tamaño del scroll en vertical */
  height: 2px;    /* Tamaño del scroll en horizontal */
}
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 4px;
}
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
:focus{
  outline: 0px;
}
.top {
  width: 100%;
}
.container_claro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $textoOscuro;
  
    background-color: rgba($color7, $alpha: 1.0);
    -webkit-background-size: cover;
    background-size: cover;

    .bottom{
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-basis: $altoSeccion+px;
      width: 100%;

      .menu{
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
}

.container_oscuro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $textoClaro;

  background-color: rgba($color6, $alpha: 1.0);
  -webkit-background-size: cover;
  background-size: cover;

  .bottom{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: $altoSeccion+px;
    width: 100%;

    .menu{
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

.columna {
  flex-direction: column;
}