<div class="seccionMenu{{tema}}">
    <div class="item"  >
        <div class="fondo" [routerLink]="['/clientes']" routerLinkActive="router-link-active"><div class="clientes"></div></div>
    </div>
    <div class="item">
        <div class="fondo"><div class="mascotas"></div></div>
    </div>
    <div class="item">
        <div class="fondo"><div class="calendario"></div></div>
    </div>
    <div class="item">
        <div class="fondo"><div class="operaciones"></div></div>
    </div>
  </div>
