<div class="seccionMenu">
    <div class="item"  >
        <div class="fondo" [routerLink]="['/clientes']" routerLinkActive="router-link-active"><div class="clientesOscuro"></div></div>
    </div>
    <div class="item">
        <div class="fondo"><div class="mascotasOscuro"></div></div>
    </div>
    <div class="item">
        <div class="fondo"><div class="calendarioOscuro"></div></div>
    </div>
    <div class="item">
        <div class="fondo"><div class="operacionesOscuro"></div></div>
    </div>
  </div>
