<div class="exterior{{tema}}">
  <div class="texto">
      <ng-template [ngIf]="cliente">
        CLIENTE
      </ng-template>
      <ng-template [ngIf]="mascota">
        MASCOTA
      </ng-template>
      <ng-template [ngIf]="veterinario">
        VETERINARIO
      </ng-template>
  </div>
  <div class="interior">
    <ng-template [ngIf]="cliente">
      <ng-template [ngIf]="cliente._id==0">
        <div class="seccion1 addclient"></div>
      </ng-template>
      <ng-template [ngIf]="cliente._id!=0">
          <div class="seccion1">{{ cliente.nombre }}</div>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="mascota">
      <ng-template [ngIf]="mascota._id==0">
          <div class="seccion1 addpet"></div>
      </ng-template>
      <ng-template [ngIf]="mascota._id!=0">
          <div class="seccion1">{{ mascota.nombre }}</div>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="veterinario">
      <ng-template [ngIf]="veterinario._id==0">
          <div class="seccion1 selectvet" [routerLink]="['/veterinarios']"></div>
      </ng-template>
      <ng-template [ngIf]="veterinario._id!=0">
          <div class="seccion1">{{ veterinario.nombre }}</div>
      </ng-template>
    </ng-template>
    <div class="seccion2">
      <div class="botonCambiar">
      </div>
        <ng-template [ngIf]="cliente">
          <div class="botonLimpiar" (click)="limpiarCliente()"></div>
        </ng-template>
        <ng-template [ngIf]="mascota">
          <div class="botonLimpiar" (click)="limpiarMascota()"></div>
        </ng-template>
        <ng-template [ngIf]="veterinario">
          <div class="botonLimpiar" (click)="limpiarVeterinario()"></div>
        </ng-template>
    </div>
  </div>
</div>
