<div class="container{{tema}}" (document:mousemove)='tooltip($event)'>
  <app-selecciones class="top"></app-selecciones>
  <div class="bottom">
    <app-menu class="menu"></app-menu>
    <div class="seccion{{tema}} columna">
      <div class="titulo">
        <div class="volver" [routerLink]="['/operaciones']"></div>
        <span *ngIf="new"> Nuevo tratamiento </span>
        <span *ngIf="!new"> Editando tratamiento </span>
      </div>
      <div class="formulario" *ngIf="ready">
        <fieldset>
          <legend>Datos</legend>
          <div class="texto{{errores.anamnesis ? '_error' : ''}}">
            <label>Anamnesis</label><input type="text" [(ngModel)]="tratamientoEditado.anamnesis" (ngModelChange)="cambia('anamnesis')" />
            <span class="tooltip" *ngIf="errores.anamnesis=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
          <div class="texto{{errores.diagnostico ? '_error' : ''}}">
            <label>Diagnóstico</label><input type="text" [(ngModel)]="tratamientoEditado.diagnostico" (ngModelChange)="cambia('diagnostico')" />
            <span class="tooltip" *ngIf="errores.diagnostico=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
          <div class="texto{{errores.tipoTratamiento ? '_error' : ''}}">
            <label>Tipo Tratamiento</label><input type="text" [(ngModel)]="tratamientoEditado.tipoTratamiento" (ngModelChange)="cambia('tipoTratamiento')" />
            <span class="tooltip" *ngIf="errores.tipoTratamiento=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
          <div class="texto{{errores.fecha ? '_error' : ''}}">
            <label for="fecha">Fecha</label><input id="fechaTratamiento" type="date" [ngModel]="tratamientoEditado.fecha | date:'yyyy-MM-dd'"  (ngModelChange)="tratamientoEditado.fecha=$event; cambia('fecha')" required />
            <span class="tooltip" *ngIf="errores.fecha=='obligatorio'">Es obligatorio rellenar este campo</span>
          </div>
        </fieldset>
      </div>
      <div class="guardar">
        <button (click)="guardar()"> Guardar </button>
      </div>
    </div>
  </div>
</div>
